<button type="button" class="btn btn-primary">Nova Consulta</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Médico Responsável</th>
      <th scope="col">Paciente</th>
      <th scope="col">Especialização</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data da Consulta</th>
      <th scope="col">Status da Consulta</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consulta of consultas">
      <td> {{ consulta.nome}} </td>
      <td> {{ consulta.nomePaciente}} </td>
      <td> {{ consulta.especializacao}} </td>
      <td> {{ consulta.descricaoConsulta}} </td>
      <td> {{ consulta.dataConsulta | date: 'dd/MM/yyyy'}} </td>
      <td>{{ consulta.status }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="openModal(detalhes,consulta)">Detalhes</button>
        <button type="button" class="btn btn-primary" [routerLink]="['/edit', consulta.id]">Editar</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #detalhes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalhes da Consulta</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Médico Responsável: <strong>{{consulta.medico.nome}}</strong></p>
    <p>Descrição: {{consulta.descricaoConsulta}}</p>
    <p>Data da Consulta: {{consulta.dataConsulta | date: 'dd/MM/yyyy'}}</p>
    <P>Dados do Paciente:</P>
    <p>Nome do Paciente: {{consulta.medico.paciente.nome}}</p>
    <p>Eamil do Paciente: {{consulta.medico.paciente.email}}</p>
  </div>
</ng-template>

