<button type="button" class="btn btn-secondary adicionar" [routerLink]="['/novopaciente']">Novo Paciente</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome Paciente</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Data Nascimento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes">
            <td>{{paciente.nome}}</td>
            <td>{{paciente.cpf | mask:"000.000.000-00"}}</td>
            <td>{{paciente.email}}</td>
            <td>{{paciente.dataNascimento | date: 'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>