<div class="container">
    <div class="col-md-6 margin-top">
        <div class="d-flex col-8 ">
            <input type="text" class="form-control" id="nome" [(ngModel)]="nome" placeholder="Pesquisar Medico">
            <button type="button" class="btn btn-primary margin" (click)="buscarMedico()">Pesquisar</button>
        </div>

        <div class="d-flex col-8 margin-top" *ngIf="medico">
            <input type="text" class="form-control" id="medico" [(ngModel)]="medico.nome">
            <input type="text" class="form-control" id="medico" [(ngModel)]="medico.especializacao">
        </div>
        <hr>

        <h4 class="margin">Consulta</h4>
        <form novalidate (ngSubmit)="adicionar()" [formGroup]="Form">

            <div class="form-group">
                <label class="control-label">Data da Consulta</label>
                <input class="form-control" id="dataConsulta" type="dataConsulta" formControlName="dataConsulta" mask="00/00/0000" [dropSpecialCharacters]="false" />
            </div>


            <div class="form-group">
                <label class="control-label">Descrição Consulta</label>
                <div>
                    <textarea class="form-control" id="descricaoConsulta" type="text"
                        formControlName="descricaoConsulta"></textarea>
                </div>
            </div>

            <hr>
            <h4>Paciente</h4>

            <div formGroupName="paciente">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input class="form-control" id="nome" type="nome" formControlName="nome" />
                </div>


                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div>
                        <input class="form-control" id="email" type="text" formControlName="email" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">CPF</label>
                    <div>
                        <input class="form-control" id="cpf" type="text" formControlName="cpf" mask="000.000.000-00" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Data Nascimento</label>
                    <div>
                        <input class="form-control" id="DataNascimento" type="text" formControlName="DataNascimento" mask="00/00/0000" [dropSpecialCharacters]="false" />
                    </div>
                </div>

                <div class="form-group margin-btn">
                    <button type="submit" class="btn btn-primary salvar">Salvar</button>
                    <button type="button" class="btn btn-success voltar"
                        [routerLink]="['/consultalist']">Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>