<div class="container">

    <div class="col-md-6 margin-top">
        <form (ngSubmit)="adicionar()" novalidate [formGroup]="Form">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input class="form-control" id="nome" type="nome" formControlName="nome" />
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <div>
                    <input class="form-control" id="email" type="text" formControlName="email" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">CPF</label>
                <div>
                    <input class="form-control" id="cpf" type="text" formControlName="cpf" mask="000.000.000-00" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Data Nascimento</label>
                <div>
                    <input class="form-control" id="dataNascimento" type="text" formControlName="dataNascimento" mask="00/00/0000" [dropSpecialCharacters]="false" />
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary margin-btn-top">Salvar</button>
                <button type="button" class="btn btn-success margin-btn-top margin-left" [routerLink]="['/lista']">Voltar</button>
            </div>
        </form>
    </div>

</div>