<button type="button" class="btn btn-secondary adicionar" [routerLink]="['/nova-consulta']">Nova Consulta</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Médico Responsável</th>
      <th> Especialização </th>
      <th>Paciente</th>
      <th>Data da Consulta</th>
      <th>Status da Consulta</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consulta of consultas">
      <td> {{ consulta.medico.nome | uppercase}} </td>
      <td> {{ consulta.medico.especializacao }} </td>
      <td> {{ consulta.paciente.nome }} </td>
      <td> {{ consulta.dataConsulta | date: 'dd/MM/yyyy hh:mm'}} </td>
      <td>{{ consulta.statusConsulta }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="openModal(detalhes,consulta)">Detalhes</button>
        <button type="button" class="btn btn-info edit" [routerLink]="['/edit', consulta.id]">Remarcar</button>
        <button type="button" class="btn btn-danger edit" (click)="cancell(cancelar,consulta)">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>



<ng-template #detalhes>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalhes da Consulta</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Consulta id: <strong>{{ consulta.id}}</strong></p>
    <p>Médico Responsável: <strong>{{ consulta.paciente.nome }}</strong></p>
    <p>Descrição: {{consulta.descricaoConsulta}}</p>
    <p>Data da Consulta: {{consulta.dataConsulta | date: 'dd/MM/yyyy'}}</p>
    <div class="div">
      <P>Dados do Paciente:</P>
      <p>Nome do Paciente: {{ consulta.paciente.dataNascimento | date: 'dd/MM/yyyy'}}</p>
    </div>
  </div>
</ng-template>


<ng-template #cancelar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Paciente: {{consulta.paciente.nome}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Tem certeza que deseja cancelar a consulta ?</p>
    <p></p>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="cancelarConsulta()">Confirmar</button>
    </div>
  </div>
</ng-template>