<div class="container">
    <div class="col-md-6 margin-top">
        <div>
            <input type="text" class="form-control" id="nome" [(ngModel)]="nome" placeholder="Pesquisar Medico">
            <button type="button" class="btn btn-primary margin-btn" (click)="buscarMedico()">Pesquisar</button>

            <input type="text" class="form-control margin-input" id="cpfPaciente" mask="000.000.000-00" [(ngModel)]="cpfPaciente"
                placeholder="Digite o CPF do paciente ">
            <button type="button" class="btn btn-primary margin-btn" (click)="buscarPaciente()">Pesquisar</button>
            <button type="button" class="btn btn-info margin-btn margin-left" [routerLink]="['/novopaciente']"> Novo
                Paciente</button>
        </div>


        <form novalidate (ngSubmit)="adicionar()" [formGroup]="Form">

            <div class="form-group">
                <label class="control-label margin-input">Data da Consulta</label>
                <input class="form-control" id="dataConsulta" type="text" formControlName="dataConsulta"
                    mask="00/00/0000" [dropSpecialCharacters]="false" />
                <span class="text-danger" *ngIf="Form.get('dataConsulta')?.invalid">
                    {{ErrorMessage("dataConsulta")}}
                </span>
            </div>

            <div class="form-group">
                <label class="control-label">Descrição Consulta</label>
                <div>
                    <textarea class="form-control" id="descricaoConsulta" type="text"
                        formControlName="descricaoConsulta"></textarea>
                </div>
                <span class="text-danger" *ngIf="Form.get('descricaoConsulta')?.invalid">
                    {{ErrorMessage("descricaoConsulta")}}
                </span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary margin-btn" [disabled]="!Form.valid">Salvar</button>
                <button type="button" class="btn btn-success margin-btn margin-left"
                    [routerLink]="['/consultalist']">Voltar</button>
            </div>
        </form>
    </div>
</div>